.site-header {
    background-color: #790505;
    color: #920a0a;
    padding: 20px 0;
    border-bottom: 3px solid #ff0055; // Яркая розовая полоска для заметности

    h1 {
        font-size: 24px;
        margin: 0;
    }
}